# Gradle
.gradle/
build/

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

# Plugin directory
/.quarkus/cli/plugins/

# Terraform
infra/.terraform/
infra/application_context.tf
infra/application_variables.tf
infra/backends.tf
infra/providers.tf
infra/service_infra_state.tf
infra/service_infra_state_config.tf
infra/team_infra_state.tf
infra/team_infra_state_config.tf
infra/versions.tf
